@charset "UTF-8";
html {
    font-size: 12px;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    max-width: 1400px;
    counter-reset: sidenote-counter;
}

h1.title {
    font-weight: 400;
    font-style: normal;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
}

h1 {
    font-style: normal;
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-size: 2.7rem;
    line-height: 1;
    font-family: et-book, SimHei;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    line-height: 1;
    font-family: et-book, SimHei;
}

h3 {
    font-style: normal;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    display: block;
    line-height: 1;
    font-family: et-book, SimHei;
}

h4.author,
h4.date {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem auto;
    line-height: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

*.important {
    font-weight: bold;
    font-family: et-book, SimHei;
    color: darkblue;
}

p,
ol,
ul {
    font-size: 1.4rem;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    font-family: Calibri, KaiTi;
}